html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
}

.container {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
}

#header {
  background-image: url('../images/data_science_volunteers.png');
  background-size: 245px 255px;
  background-repeat: no-repeat;
  width: 245px;
  height: 255px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

#loading {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  height: 60px;
}

.project {
  border: 1px solid #eee;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project.perm {
  border: 1px solid #fff875;
  background-color: #fffef4;
}

.project .hashtag {
  font-weight: bold;
  display: inline;
  margin-top: 30px;
}

.project .hashtag::after {
  content: "\00a0\2219\00a0";
}

.project .summary {
  display: inline;
  font-style: italic;
  font-size: large;
}

.project .description {
  margin-top: 10px;
  margin-bottom: 15px;
}

.project .locality {
  margin-bottom: 10px;
  font-size: small;
  height: 20px;
  vertical-align: middle;
  text-align: right;
  display: inline-block;
  line-height: 20px;
  float: right;
  width: 35%;
}

.project .lead {
  margin-bottom: 10px;
  font-size: small;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  line-height: 20px;
  float: left;
  width: 65%;
}

.project .lead a, .project .locality a {
  text-decoration: none;
}

.project .lead a span, .project .locality a span  {
  color: #111;
  vertical-align: middle;
  height: 20px;
}

.project .lead a object {
  height: 20px;
  padding-right: 5px;
  background-color: #f9f9f9;;
  text-align: center;
  border: none;
  font-style: normal;
  font-weight: bold;
  color: black;
  vertical-align: middle;
}

.project .link, .project .contact {
  border: 1px solid #ccdfff;
  background: white;
  display: inline-block;
  margin-right: 10px;
  border-radius: 6px;
  font-size: small;
}

.project .link:hover, .project .contact:hover {
  background: #ccdfff;
}

.project .link a, .project .contact a {
  color: #000;
  text-decoration: none;
    padding: 4px 8px 4px 8px;
    display: inline-block;
}

#footer {
  margin: 30px auto 20px auto;
  text-align: center;
  font-size: x-small;
  color: #999;
}

#footer a {
  text-decoration: none;
  color: #999 !important;
  border-bottom-color: #999 !important;
}

.hidden {
  display: none;
  margin: 0;
}

#banner {
  background-color: #ffeded;
  padding: 10px;
  border-bottom: 1px solid #ffadad;
  font-size: small;
}

#banner a, #showall a, .about span a, #footer span a {
  color: black;
  border-bottom: 1px dotted black;
  text-decoration: none;
}

#banner a:hover, #showall a:hover, .about span a:hover, #footer span a:hover  {
  border-bottom: none;
}

#banner span {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  display: block;
}

#showall {
  visibility: hidden;
  text-align: center;
  margin-bottom: 10px;
}

.about {
  font-size: small;
  font-weight: normal;
  margin-bottom: 40px;
}

.about.main span:first-of-type {
  font-size: xx-large;
}

.about span:first-of-type {
  font-weight: normal;
  display: block;
  font-size: x-large;
  margin-bottom: 10px;
}

.about span:last-of-type {
  font-weight: normal;
  display: block;
  font-size: larger;
  margin-bottom: 0px;
}

.about span p {
  margin-block-start: 0.5em;
}

.about.soon span:first-of-type:after {
  content: 'coming soon';
  font-weight: normal;
  display: inline-block;
  font-size: 10px;
  line-height: 10px;
  margin-left: 10px;
  text-transform: uppercase;
  color: #fff;
  background: #a50da2;
  padding: 4px;
  font-weight: bold;
  vertical-align: top;
  border-radius: 3px;
}

.clear {
  clear: both;
}

/** twemoji **/

img.emoji {  
  // Override any img styles to ensure Emojis are displayed inline
  margin: 0px !important;
  display: inline !important;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
.label {
  line-height: 0.85;
}
.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

/** twemoji **/